* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: black;
  text-align: center;
  padding: 1rem;
}

.main-heading {
  color: white;
}

#content-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}

#progress-display {
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bar {
  text-align: center;
  padding: 5px;
  color: white;
  width: 3%;
  height: 90%;
  background-color: black;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  border-style: none;
}

.button:active,
.button:hover {
  transition: 1s;
  transform: none;
  background-color: var(--background-color-primary);
  border: white 1px solid;
  color: white;
}

#algo-details {
  background-color: black;
  width: 40rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  border-radius: 1rem;
}

.details-header {
  color: white;
  font-size: 1.1rem;
}

#footer {
  color: white;
  font-size: 1rem;
}
